* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}
nav {
  height: 53px;
  background: #212121;
}

.menu {
   background: #212121;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.subheader {
  position: absolute;
  width: 100%;
  min-height: 84px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_offical {
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 6px;
}

.subheader .subheader_call {
  margin-top: 22px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  opacity: 0.5;
  color: #ffffff;
}

.subheader .subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
  text-decoration: none;
}

.subheader .subheader_btn {
  margin-top: 20px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.promo {
  min-height: 799px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 153px 0 135px 0;
}

.promo .promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_subheader {
  margin-top: 22px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo .promo_descr {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.promo .promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin: 120px auto 0 auto;
}

.workwithus {
  padding: 71px 0 65px 0;
}

.workwithus .workwithus_btn {
  display: block;
  margin: 18px auto 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.workwithus .workwithus_header {
  padding-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.workwithus .workwithus_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.workwithus .workwithus_wrapper .workwithus_img_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.workwithus .workwithus_img_icon {
  display: flex;
  align-items: center;
}

.workwithus .workwithus_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}

.workwithus .workwithus_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}


.workwithus .workwithus_wrapper .workwithus_descr {
  width: 343px;
}
